<!DOCTYPE html>
<html>

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
  	<meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

		<title> Rilla Funny Rankings</title>

</head>

<body>

	<!-- Header Content -->
	<header class="py-5 mb-5" style="background-color: #D98204;">
    	<div class="container h-100 text-center">
      		<div class="row h-100 align-items-center">
        		<div class="col-lg-12">
        			<h1>Dunder Mifflin Bi-Weekly Laugh Rankings</h1>
        		</div>
      		</div>
    	</div>
  	</header>

	<!-- Page Content -->
	<div class="container">

			{% for i in range ( length ) %}
<div class="row">

			<h3 class="pr-3"> {{i+1}}: </h3>
			<h6 class="pt-2">{{rankings[i][0]}}</h6>
			<p class="ml-3 pt-1">with {{rankings[i][1]}} points!</p> <br></br>
			</div>

			{% endfor %}

		</div>

		<div class="container">
			<form method="POST" action="">
				<input type="submit" name="submit_button" value="High to Low">
				<input type="submit" name="submit_button1" value="Low to High">
		</form>
	</div>
</body>

</html>
